{{ define "main" }}

<div class="container">
  <div class="card mb-4">
    <div class="card-header">
      <h4 class="my-0 font-weight-normal"> <img src="/assets/icons/envelope_closed-0.png"> message(s*)</h4>
    </div>
    <div id="messagesBody" class="card-body windows-scrollbar" style="overflow-y: scroll; height: 75vh;">
      <div class="text-center" data-toggle="modal" data-target="#prologueModal">
        <img type="button" src="/assets/icons/help_book_cool-4.png" style="width: 100px">
        <br>
        <pre>prologue</pre>
      </div>
      <hr>

      <div class="text-center">
      </div>
      <div class="container">
        <div class="row">
          <div class="col-6 text-center">
            <h4><pre id="latest">[latest]</pre></h4>
          </div>
          <div class="col-6 text-center">
            <a class="btn" href="#earliest" style="padding: 5px; font-size: small;">⬇ earliest</a>
          </div>
        </div>
      </div>
      {{ $latest := where .Site.Data.messages.messages "chapter" ""}}
      {{ range sort $latest "createdAt" "desc"}}
        {{ partial "message.html" . }}
      {{ end }}
      <div class="container">
        <div class="row">
          <div class="col-6 text-center">
            <h4><pre id="earliest">[chapter 1]</pre></h4>
          </div>
          <div class="col-6 text-center">
            <a class="btn" href="#latest" style="padding: 5px; font-size: small;">⬆ latest</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="prologueModal" tabindex="-1" role="dialog" aria-labelledby="prologueModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title" id="prologueModalLabel">prologue</h6>
        <button type="button" class="btn" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body windows-scrollbar" style="overflow-y: scroll; height: 75vh;">
        {{ $prologue := where .Site.Data.messages.messages "chapter" "prologue"}}
        {{ range sort $prologue "createdAt" "asc"}}
          {{ partial "message.html" . }}
        {{ end }}
        <div class="text-center">
          <h4><pre>[prologue complete]</pre></h4>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
  function showPlainText(id) {
    document.getElementById(`plaintext${id}`).hidden = false;
    document.getElementById(`base64${id}`).hidden = true;
    document.getElementById(`ciphertext${id}`).hidden = true;
  }

  function base64DecodeOrCorruptWord(word) {
    try {
      return atob( word )
    } catch (err) {
      return "$".repeat(word.length)
    }
  }

  function showBase64DecodeOrCorrupt(id) {
    plaintext = document.getElementById(`plaintext${id}`);
    plaintext.hidden = true;
    document.getElementById(`ciphertext${id}`).hidden = true;

    decodedText = document.getElementById(`base64${id}`);
    message = plaintext.innerHTML
    decodedText.innerHTML = message.split(" ").map(x => base64DecodeOrCorruptWord(x)).join(" ");
    decodedText.hidden = false
  }

  function decipherOrCorruptWord(word) {
    let CIPHER = {
      "/": "A",
      $: "B",
      "|": "C",
      "8": "D",
      _: "E",
      "?": "F",
      "#": "G",
      "%": "H",
      "^": "I",
      "~": "J",
      ":": "K",
      Q: "L",
      W: "M",
      E: "N",
      R: "O",
      T: "P",
      Y: "Q",
      U: "R",
      I: "S",
      O: "T",
      P: "U",
      A: "V",
      S: "W",
      D: "X",
      F: "Y",
      G: "Z"
    }; 
    CIPHER[" "] = " ";
    return word.split("").map(c => CIPHER[c] || "?").join("");
  }

  function showDecipherOrCorrupt(id) {
    plaintext = document.getElementById(`plaintext${id}`);
    plaintext.hidden = true;
    document.getElementById(`base64${id}`).hidden = true;

    decodedText = document.getElementById(`ciphertext${id}`);
    message = plaintext.innerHTML;
    decodedText.innerHTML = message.split(" ").map(x => decipherOrCorruptWord(x)).join(" ");
    decodedText.hidden = false;
  }
</script>


{{ end }}
