{{ $prefix := .prefix}}
{{ if eq .prefix "" }}
    {{if and (hasPrefix .message "[") (strings.HasSuffix .message "]") }}
        {{ $prefix = "💡" }}
    {{ else if or (hasPrefix .message "System message:") (hasPrefix .message "[System")}}
        {{ $prefix = "🤖 📠" }}
    {{ end }}
{{ end }}

<div class="row">
    <div class="col-10" style="margin-bottom: -30px;">
        {{ if eq $prefix "" }}
            {{ $color := "purple" }}
            {{ if eq .channel "CORRUPTION" }}
                {{ $color = "purple" }}
            {{ else if eq .channel "REFLECTION" }}
                {{ $color = "green" }}
            {{ else }}
                {{ $color = "red" }}
            {{ end }}

            {{ $cleanedTimestamp := index (split .createdAt "+") 0 }}
            {{ $dateAndTime := split $cleanedTimestamp " " }}

            <h6 style="color: {{ $color }};">{{ .channel }}</h6>
            <p style="font-size: 13px;">
                {{ index $dateAndTime 0 }} <a href="https://etherscan.io/tx/{{ .id }}">{{ index $dateAndTime 1 }}</a>
            </p>
        {{ end }}
    </div>
    <div class="col-2 float-right">
        <div class="nav-item dropdown float-right">
            <a class="nav-link btn dropdown-toggle" href="#" id="decoder" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                ?
            </a>
            <div class="dropdown-menu" aria-labelledby="decoder" aria-hidden="true">
                <a class="dropdown-item" href="#" onclick="showPlainText('{{ .id }}')">plaintext</a>
                <a class="dropdown-item" href="#" onclick="showBase64DecodeOrCorrupt('{{ .id }}')">base64</a>
                <a class="dropdown-item" href="#" onclick="showDecipherOrCorrupt('{{ .id }}')">decipher</a>
                <!-- TODO: button for PNG rendering -->
            </div>
        </div>
    </div>
</div>
</br>
<div class="row">
    <div class="col-12">
        <pre id="plaintext{{ .id }}" style="white-space: pre-wrap;">{{ if not (eq $prefix "") }}{{ $prefix }} {{ end }}{{ .message }}</pre>
        <pre id="base64{{ .id }}" style="white-space: pre-wrap;" hidden></pre>
        <pre id="ciphertext{{ .id }}" style="white-space: pre-wrap;" hidden></pre>
    </div>
    <div class="col-12">
        {{ if not (eq .image "" )}}<img src="{{.image}}" style="width: 100%;"><br><br>{{ end }}
    </div>
</div>
<hr>