{{ define "main" }}

<div class="container">
  <div class="card mb-4">
    <div class="card-header">
      <h4 class="my-0 font-weight-normal"> <img src="/assets/icons/catalog-1.png"> compendium</h4>
    </div>
    <div class="card-body windows-scrollbar" style="overflow-y: scroll; height: 75vh;">
        {{ range sort .Site.Data.compendium.records "created" "asc"}}
          <p>
            <strong style="color: midnightblue">{{ .topic }}</strong>
            <small>:: {{ .created }} :: <a href="https://etherscan.io/tx/{{ .id }}">tx</a></small>
          <p>
          <p>
            {{ .content }}
          </p>
            <hr>
        {{ end }}
    </div>
  </div>
</div>

<!-- TODO: Modals for expanded topics -->
<!-- <h5>And modal:</h5>
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Launch demo modal
  </button>
  <p>Click button to show modal.</p> -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img src="/assets/confused_travolta.gif" class="img-fluid">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

{{ end }}
